In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import numpy as np
import scipy.stats as stats
from io import BytesIO
import requests
pd.options.display.max_columns = None
import datetime
from tkinter import *
from tkinter.filedialog import askopenfilename

# Подготовка отчета к замене id

In [2]:
#загрузка отчета для базы данных
file = askopenfilename()
d_report = pd.read_excel(file)
# d_report = pd.read_excel("/Users/drdim/Downloads/check (49).xlsx")
d_report

   Unnamed: 0 Unnamed: 1  Unnamed: 2
0         NaN    center     40841806
1         NaN        dv      6744075
2         NaN     sibir     26523262
3         NaN     south     15859264
4         NaN        sz     16830044
5         NaN      ural      9741350
6         NaN     volga      5740253
7         NaN    others      2919582

In [3]:
d_report.columns = ['adb_month', 'adb_mrf', 'adb_view']

In [4]:
d_report['adb_month'] = '2021-10-01'
d_report['adb_revenue'] = 0

In [5]:
d_report_2 = d_report.groupby(['adb_month', 'adb_mrf']).sum()

In [6]:
d_report_2.reset_index(inplace=True)
d_report_2['adb_mrf'] = d_report_2['adb_mrf'].str.replace(' ','', regex=False)
d_report_2['adb_mrf'] = d_report_2['adb_mrf'].replace('center',11, regex=False)
d_report_2['adb_mrf'] = d_report_2['adb_mrf'].replace('dv',17, regex=False)
d_report_2['adb_mrf'] = d_report_2['adb_mrf'].replace('others',666, regex=False)
d_report_2['adb_mrf'] = d_report_2['adb_mrf'].replace('sibir',16, regex=False)
d_report_2['adb_mrf'] = d_report_2['adb_mrf'].replace('south',14, regex=False)
d_report_2['adb_mrf'] = d_report_2['adb_mrf'].replace('sz',12, regex=False)
d_report_2['adb_mrf'] = d_report_2['adb_mrf'].replace('ural',15, regex=False)
d_report_2['adb_mrf'] = d_report_2['adb_mrf'].replace('volga',13, regex=False)
d_report_2

    adb_month  adb_mrf  adb_view  adb_revenue
0  2021-10-01       11  40841806            0
1  2021-10-01       17   6744075            0
2  2021-10-01      666   2919582            0
3  2021-10-01       16  26523262            0
4  2021-10-01       14  15859264            0
5  2021-10-01       12  16830044            0
6  2021-10-01       15   9741350            0
7  2021-10-01       13   5740253            0

In [7]:
d_report_2.to_csv('G:/Py3.7/Dev_output/ОТЧЕТ СПС_Запросы_{}.csv'.format(min(d_report_2['adb_month'])), index=False, sep=";")