In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import datetime as dt
import scipy.stats as stats
from io import BytesIO
import requests
pd.options.display.max_columns = None
from tkinter import *
from tkinter.filedialog import askopenfilename
import re

In [2]:
file = askopenfilename()
report = pd.read_excel(file)
report.head(100)

     ID                     AdUnit  Requests  Impressions       Revenue
0  7156        qtm_240x400_sidebar     14695         8579     86.395724
1  7155         qtm_300x250_native  17235000      5116570  43240.803313
2  7159                qtm_300x600   2405450      1120412   8806.381776
3  7160  qtm_320x100_header/footer   6373668      1421127  11150.425023
4  7157   qtm_728x90_header/footer    725509       163114   1657.878707
5  7158                 qtm_970x90  10378713      1579560  14834.582611

In [3]:
def size_list(data):
#     print(list)
    list = re.findall(r'\d{1,4}[СCхx.С…]+\d{1,4}', data['AdUnit'])
    str1 = ''.join(list)
    return str1

In [4]:
report['size'] = report.apply(size_list, axis=1)
report['ID'] = 244
# print(report['size'])

In [5]:
from datetime import datetime
import math

# ВЫСТАВИТЬ ДАТУ

# Date

In [6]:
def data_list(data):
    data_start=dt.datetime(2021, 11, 1)
    data_end=dt.datetime(2021, 11, 15)
    t = (data_end - data_start)
    n = int(t.days) + 1
    print(n)
    data['Requests'] = data['Requests'] / n
    data['Impressions'] = data['Impressions'] / n
    data['Revenue'] = data['Revenue'] / n
    data['Дата'] = data_start
    d = {'ID': [], 'AdUnit': [], 'Requests': [], 'Impressions': [], 'Revenue': [], 'size': [], 'Дата': []}
    new_data= pd.DataFrame(data=d)
    while n > 0:
        data['Дата'] = data_start
        data_start = data_start + dt.timedelta(days=1)
        new_data = new_data.append(data.copy())
        n = n - 1
    return new_data

In [7]:
# def data_list(data):
#     data_start=dt.date(2021, 5, 1)
#     data_end=dt.date(2021, 5, 31)
#     t = (data_end - data_start)
#     n = int(t.days) + 1
#     data['Запросы'] = data['Запросы'] / n
#     data['Показы'] = data['Показы'] / n
#     data['Показы'] = data['Показы'] / n
#     data['Дата'] = data_start
#     new_data = []
#     date = create_date_table3()
#     new_data = data.merge(date, how='outer')
#     return new_data

In [8]:
# def create_date_table3(start='2021-05-01', end='2021-05-31'):
#     df = pd.DataFrame({"date": pd.date_range(start, end)})
#     return df
# def data_list(data):
#     date = create_date_table3()
#     data_start=dt.date(2021, 5, 1)
#     data_end=dt.date(2021, 5, 31)
#     t = (data_end - data_start)
#     n = int(t.days) + 1
#     print(n)
#     data['Запросы'] = data['Запросы'] / n
#     data['Показы'] = data['Показы'] / n
#     new_data = data
#     date = create_date_table3()
#     print(date.iloc[0])
#     l = 0
#     for l in date:
#         data['Дата'] = l[1]
#         print(data)
#         new_data.join(data)
#     return new_data

In [9]:
# new_data=[21]
new_list = data_list(report)
new_list['Requests']  = new_list['Requests'].map(lambda x: round(x, 1))
new_list['Impressions']  = new_list['Impressions'].map(lambda x: round(x, 1))
new_list['Revenue']  = new_list['Revenue'].map(lambda x: round(x, 1))
new_list['Клики'] = 0
new_list['CPM'] = 0
new_list['Дата'] = new_list['Дата'].dt.date
new_list.drop(['AdUnit'], axis=1, inplace=True)

new_list

15

       ID   Requests  Impressions  Revenue     size        Дата  Клики  CPM
0   244.0      979.7        571.9      5.8  240x400  2021-11-01      0    0
1   244.0  1149000.0     341104.7   2882.7  300x250  2021-11-01      0    0
2   244.0   160363.3      74694.1    587.1  300x600  2021-11-01      0    0
3   244.0   424911.2      94741.8    743.4  320x100  2021-11-01      0    0
4   244.0    48367.3      10874.3    110.5   728x90  2021-11-01      0    0
..    ...        ...          ...      ...      ...         ...    ...  ...
1   244.0  1149000.0     341104.7   2882.7  300x250  2021-11-15      0    0
2   244.0   160363.3      74694.1    587.1  300x600  2021-11-15      0    0
3   244.0   424911.2      94741.8    743.4  320x100  2021-11-15      0    0
4   244.0    48367.3      10874.3    110.5   728x90  2021-11-15      0    0
5   244.0   691914.2     105304.0    989.0   970x90  2021-11-15      0    0

[90 rows x 8 columns]

In [10]:
new_list.columns = ['ID', 'Запросы', 'Показы', 'Деньги','size', 'Дата', 'Клики', 'CPM']

In [11]:
new_list = new_list[['Дата',
                 'ID',
                 'Показы',
                 'Клики',
                 'CPM',
                 'size',
                 'Деньги']]
new_list['adb_segment']=0
new_list['adb_coverage']=0

In [12]:
new_list.columns = ['adb_extadv_date', 'adb_extadv_copmany', 'adb_extadv_view', 'adb_extadv_click', 'adb_extadv_cpm',
                 'adb_extadv_banner', 'adb_extadv_revenue', 'adb_segment', 'adb_coverage']

In [13]:
new_list.to_csv('G:/Py3.7/Dev_output/Отчёт Alfadart_{} {}.csv'.format(min(new_list['adb_extadv_date']),max(new_list['adb_extadv_date'])), index=False, sep=";")
new_list

,adb_extadv_date,adb_extadv_copmany,adb_extadv_view,adb_extadv_click,adb_extadv_cpm,adb_extadv_banner,adb_extadv_revenue,adb_segment,adb_coverage
0,2021-11-01,244.0,571.9,0,0,240x400,5.8,0,0
1,2021-11-01,244.0,341104.7,0,0,300x250,2882.7,0,0
2,2021-11-01,244.0,74694.1,0,0,300x600,587.1,0,0
3,2021-11-01,244.0,94741.8,0,0,320x100,743.4,0,0
4,2021-11-01,244.0,10874.3,0,0,728x90,110.5,0,0
...,...,...,...,...,...,...,...,...,...
1,2021-11-15,244.0,341104.7,0,0,300x250,2882.7,0,0
2,2021-11-15,244.0,74694.1,0,0,300x600,587.1,0,0
3,2021-11-15,244.0,94741.8,0,0,320x100,743.4,0,0
4,2021-11-15,244.0,10874.3,0,0,728x90,110.5,0,0
5,2021-11-15,244.0,105304.0,0,0,970x90,989.0,0,0